.topnav {
  background-color: #333;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.menu-item {
  float: left;
  text-align: center;
  max-height: 3rem;
}

.left-push {
  margin-left: 1rem;
}

.padding-top {
  margin-top: 0.6rem;
}

.dynamic-search-label {
  font-size: 0.95rem;
  float: inherit;
  margin-left: 1em;
}

.checkbox-dynamic {
  float: inherit;
  margin: .6em 0%;
}

.dynamic-search {
  float: left;
}

.leftmost {
  margin-left: .1rem;
}

.left-push-massive{
  margin-left: 8rem;
}

.right-push{
  margin-right: 2.7rem;
}

.right-menu-item{
  float: right;
  text-align: center;
  max-height: 3rem;
}