.topnav {
  background-color: #333;
  height: 50%;
  width: 100%;
}

.menu-item {
  float: left;
  text-align: center;
}

.left-push {
  padding-left: 1%;
}

.checkbox-dynamic {
  float: left;
}

.padding-top {
  padding-top: 0.6%;
}

.dynamic-search-label {
  font-size: 0.95rem;
  margin-top: 12.5%;
}

.leftmost {
  width: 12%;
}

.left-push-bigger{
  padding-left: 2.5%;
}

.left-push-massive{
  padding-left: 6%;
}

.rightmost{
  width: 10%;
  float: right;
  text-align: center;
  
  padding-right: 0.4%;
}