#d-table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    table-layout: fixed;
    background-color: aquamarine;
}

#table-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 35rem;
    display: block;
    text-align: left;
}

#table-header-row {
    overflow-x: hidden;
    display: block;
    border: solid black 1px;
}