.table-cell {
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    border: solid black 1px;
    text-align: center;
    word-break: break-all;
}

.reg-cell {
    width: 12%;
}

.mail-cell {
    width: 16%;
}

.table-header {
    background-color: aquamarine;
}

.table-regular {
    background-color: #ccc;
}