.table-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    border: solid black 1px;
    text-align: center;
    height: 10%;
}

.reg-cell {
    width: 11%;
}

.mail-cell {
    width: 23%;
}

.table-header {
    background-color: aquamarine;
}

.table-regular {
    background-color: #ccc;
}