#d-table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    table-layout: fixed;
    background-color: aquamarine;
    display: grid;
    overflow-y: scroll;
    width: 80%;
}

#table-header-row {
    display: block;
    border: solid black 1px;
    position: sticky;
    top: 0;
}

#table-body {
    display: block;
    max-height: 60vh;
}


